@use '../config/mixins' as *;

@mixin matchTag($tagThemeBg, $tagThemeColor) {
  background: $tagThemeBg;
  color: $tagThemeColor;
}

%si-buttonReset {
  cursor: pointer;
  background-color: transparent;
  box-shadow: none;
  border: none;
}
%si-borRad100 {
  @include border-radius(setUnit(100));
}
%si-borRad48 {
  @include border-radius(setUnit(48));
}
%si-borRad30 {
  @include border-radius(setUnit(30));
}
%si-borRad24 {
  @include border-radius(setUnit(24));
}
%si-borRad16 {
  @include border-radius(setUnit(16));
}
%si-borRad14 {
  @include border-radius(setUnit(14));
}
%si-borRad12 {
  @include border-radius(setUnit(12));
}
%si-borRad10 {
  @include border-radius(setUnit(10));
}
%si-borRad8 {
  @include border-radius(setUnit(8));
}
%si-borRad6 {
  @include border-radius(setUnit(6));
}
%si-borRad4 {
  @include border-radius(setUnit(4));
}
%si-borRad2 {
  @include border-radius(setUnit(2));
}
%si-borRad0 {
  @include border-radius(setUnit(0));
}

%si-lightFF {
  font-family: var(--light-ff);
}
%si-regularFF {
  font-family: var(--regular-ff);
}
%si-mediumFF {
  font-family: var(--medium-ff);
}
%si-boldFF {
  font-family: var(--bold-ff);
}
%si-blackBoldFF {
  font-family: var(--black-ff);
}

// Tracks Normal FONT-FAMILY

%si-regularFF-sec {
  font-family: var(--regular-ff-sec);
}

//background size
%si-bgSize--cover {
  @include background-size(cover);
}

%si-bgSize--contain {
  @include background-size(contain);
}
