:root {
  /* Open Sans Font */
  --light-ff: 'OpenSansLight', sans-serif;
  --regular-ff: 'OpenSansRegular', sans-serif;
  --medium-ff: 'OpenSansSemiBold', sans-serif;
  --bold-ff: 'OpenSansBold', sans-serif;
  --black-ff: 'OpenSansExtraBold', sans-serif;
  /* tracks normal Font */
  --regular-ff-sec: 'tracksnormal', sans-serif;
}
